@use "@carbon/react/scss/type";
@use "@carbon/react/scss/spacing" as *;

.forecast-card {
  height: 100%;
}

.forecast-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-03;
  text-align: center;
}

.forecast-day {
  @include type.type-style("heading-compact-01");
  margin: 0;
}

.forecast-temps {
  display: flex;
  gap: $spacing-03;
  align-items: baseline;
  margin: 0;
}
.forecast-hi {
  @include type.type-style("heading-04");
}
.forecast-lo {
  @include type.type-style("body-01");
  color: var(--cds-text-secondary);
}

.forecast-precip {
  @include type.type-style("label-01");
  color: var(--cds-text-secondary);
  margin: 0;
}
